@model WEB_253503_TSARUK.Domain.Models.ListModel<WEB_253503_TSARUK.Domain.Entities.Jewelry>

<div id="productListContainer">
    <div class="row mt-3">
        @if (Model.Items != null && Model.Items.Any())
        {
            @foreach (var item in Model.Items)
            {
                <div class="col-sm-6 col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-header text-center bg-white">
                            <img src="@item.Image" class="card-img-top" style="max-width: 200px; height: 100%" />
                        </div>
                        <div class="card-body">
                            <p class="card-title fs-3 fw-bold">@item.Name</p>
                            <p class="card-text fs-5 fw-light">@item.Description</p>
                            <p class="card-text fs-5 fw-light">Цена: @item.Price руб</p>
                        </div>
                        <div class="card-footer text-center">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a asp-controller="Cart" asp-action="Add" asp-route-id="@item.Id"
                                asp-route-returnurl="@(ViewContext.HttpContext.Request.Path + ViewContext.HttpContext.Request.QueryString)"
                                class="btn btn-primary">
                                    Добавить в корзину
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </a>
                            }
                            else
                            {
                                            <a asp-controller="Account" asp-action="Login" class="btn btn-secondary">
                                                Войти, чтобы добавить в корзину
                                            </a>
                            }
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <p>Украшения не найдены.</p>
        }
    </div>

    <nav aria-label="Page navigation">
        <Pager current-page="@Model.CurrentPage" total-pages="@Model.TotalPages"
               category="@(ViewContext.HttpContext.Request.Query["category"])"></Pager>
    </nav>
</div>
